<!--
<div class="container">

<h1>{{title}}</h1>

<form>
  Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"><br>
  Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2"><br>
  <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-outline-success">
  <input type="submit" value="Restar" (click)="restar()" class="btn btn-outline-warning"><br>
</form>
<p>Resultado: {{resultado}}</p>
</div>


- Agregar estilo
- Agregar 10 operaciones matematicas 
- Resultado sea elegante

<app-prueba></app-prueba>-->

<app-arithmetic></app-arithmetic>
